<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Shop</title>
</head>
<body>
    <!-- <h1>Html File</h1> -->
    <!-- <h1>{{products}}</h1> -->
{% for product in products %}
<!-- <h4>{{product}}</h4> -->
<table>
    <tr>
        <td>{{product.name}}</td>
        <td>{{product.category.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.image}}</td>
    
    </tr>
</table>
{%endfor%}
</body>
</html>