{% extends 'base.html' %}
<!-- {% load static %} -->

{% block content %}

{% load cart %}
<div class="container-fluid mt-3">
	<div class="row">

<!-- filter -->
<div class="col-lg-3 mx-auto">
    <div class="list-group">

        <a href="/" class="list-group-item list-group-item-action">All Products</a>

        {% for category in categories %}
        <!-- <a href="/?category={{category.id}}"
            class="list-group-item list-group-item-action">{{category.id}}{{category.name}}</a> -->
            <a href="/?category={{category.id}}"
            class="list-group-item list-group-item-action">{{category.name}}</a>

            {% endfor %}
    </div>
</div>


<!-- all products -->
<div id="products" class="col-lg-9 mx-auto">
    <div class="row mx-auto">
        {% for product in products %} 
        <!-- this product used in 40 line for filter purpose we get product details at templatetags->cart.py -->
        <!-- <h4>{{product}}</h4> -->
        <div class="card mx-auto mb-3" id={{product.id}} style="width: 18rem;">
            <img src={{product.image.url}} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text"><b>{{product.price}}</b></p>
                <!-- <a href="#" class="btn btn-primary">{{product.description}}</a> -->
                
                <!-- to check this product is in cart or not so we use request. -->
                
            </div>
            <div class="card-footer p-0 no-gutters">
                
                {% if product|is_in_cart:request.session.cart %}
                <div class="row no-gutters">
                    <!-- <input type="submit" value="-" class="col-2 btn btn-block btn-secondary" > -->
                    <form action="/#{{product.id}}" class="col-2" method="post" >
                        {%csrf_token%}
                        <input hidden type="text" name="product" value="{{product.id}}">
                        <input hidden type="text" name="remove" value="-1">  <!-- this is how we showing under the cart footer  -->

                        <input type="submit" value="-" class="btn btn-block btn-secondary" >
                    </form>

                    <div class="text-center col">{{product|cart_quantity:request.session.cart}}</div>

                    <!-- <input type="submit" value="+" class="col-2 btn btn-block btn-secondary" > -->
                    <form action="/#{{product.id}}" class="col-2" method="post" >
                        {%csrf_token%}
                        <input hidden type="text" name="product" value="{{product.id}}">
                        <input type="submit" value="+" class="btn btn-block btn-secondary" >
                    </form>
                </div>
                
                {% else %}
                <form action="/#{{product.id}}" method="POST" class="btn-block" > 
                    {%csrf_token%}
                    <!-- current page rende rhoga and method would be POST -->
                    <input hidden type="text" name="product" value="{{product.id}}">
                    <!-- <a href="#" type="submit" class="float-right btn btn-light border btn-sm">Add to Cart</a> -->
                    <input href="#" type="submit" class="float-right btn btn-light border form-control btn-sm" value="Add to Cart">
                </form>
                {% endif %}
            </div>
        </div>
        {%endfor%}
    </div>
</div>

</div>
</div>


<!-- <div class="jumbotron" id="abc">
    <h1 class="display-3">Jumbo heading</h1>
    <p class="lead">Jumbo helper text</p>
    <hr class="my-2">
    <p>More info</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
    </p>
</div> -->

{% endblock %} 

    <!-- <h1>Html File</h1> -->
    <!-- <h1>{{products}}</h1> -->